* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
    margin: 45px 130px;
}

header img {
    width: fit-content;
    height: fit-content;
}

header ul li {
    text-decoration: none;
    text
}