@font-face {
    font-family: 'Poppins-Medium';
    src: url(../assets/font/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
    margin: 4% 9%;
    font-family: 'Poppins-Medium';
}

header {
    display: flex;
    flex-grow: 1;
}

#logo {
    width: fit-content;
    height: fit-content;
}

nav ul {
    width: 550px;
    height: 50px;
    margin-left: 300px;
    font-size: 18px;
    letter-spacing: 0.05em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #133364;
}

#mode {
    width: 32px;
    height: 32px;
    margin: 9px;
    margin-left: auto;
    margin-right: 0;
}

#hero h1 {
    font-family: "Poppins-Medium";
    font-size: 44px;
    line-height: 150%;
    width: 429px;
    color: #00183C;
    margin-top: 87px;
    word-wrap: break-word;
}

#hero p {
    font-family: "Poppins-Medium";
    font-size: 16px;
    color: #00183C;
    opacity: 75%;
    width: 400px;
    line-height: 150%;
    letter-spacing: 10%;
    margin-top: 16px;
}

#tab {
    width: 250px;
    margin-top: 100px;
}

#tab button {
    background-color: #00183C;
    width: 80px;
    height: 45px;
    height:fit-content;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    color: aliceblue;
    text-align: center;
    border: none;
}

#search {
    width: 775px;
    height: fit-content;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#search input {
    width: 575px;
    height: 24px;
    border: none;
}

#search button {
    width: 100px;
    height: 35px;
    background-color: #00183C;
    border-radius: 20px;
    border: none;
    color: aliceblue;
    font-size: 16px;
}

#partner {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

#partner img {
    width: 100px;
    height: 100px;
}

main article {
    flex-grow: 1;
    margin-top: 20px;
    height: fit-content;
}

main article section {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

main article section h2 {
    margin-top: 20px;
}

main article section p {
    margin-top: 20px;
}