@font-face {
    font-family: 'Poppins-Medium';
    src: url(../assets/font/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
    margin: 4% 9%;
    font-family: 'Poppins-Medium';
}

header {
    display: flex;
    flex-grow: 1;
}

#logo {
    width: fit-content;
    height: fit-content;
}

nav ul {
    width: 550px;
    height: 50px;
    margin-left: 300px;
    font-size: 18px;
    letter-spacing: 0.05em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #133364;
}

#mode {
    width: 32px;
    height: 32px;
    margin: 9px;
    margin-left: auto;
    margin-right: 0;
}

main article {
    flex-grow: 1;
    margin-top: 20px;
    height: fit-content;
}

main article section {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

main article section h2 {
    margin-top: 20px;
}

main article section p {
    margin-top: 20px;
}